body.theme-light.left-side-menu-expand header .logo-area a span,body.theme-light.left-side-menu-expand header .links-area a span
{
	background-color:transparent;
	color:#666;
}

body.theme-light #about .main-container .content-group .fun-facts-container .card
{
	background-color:#f5f5f5;
}

body.theme-light #about .main-container .clients-container a
{
	color:#555;
}

body.theme-light #about .main-container .clients-container a:hover
{
	color:#222;
}

body.theme-light #contacts .main-container .content-group .contact-form-container .form-group .form-control
{
	background-color:#fff;
	border-color:#ddd;
}

body.theme-light #contacts .main-container .content-group .contact-form-container .button-area .btn-submit
{
	border:1px solid #e5e5e5;
	color:#444;
	background-color:transparent;
}

body.theme-light .pages .sub-pages .section
{
	background-color:#fff;
	-webkit-box-shadow:0 1px 36px rgba(0,0,0,0.15);
	-moz-box-shadow:0 1px 36px rgba(0,0,0,0.15);
	-ms-box-shadow:0 1px 36px rgba(0,0,0,0.15);
	box-shadow:0 1px 36px rgba(0,0,0,0.15);
}

body.theme-light .pages .sub-pages .section .main-container .main-title
{
	color:rgba(0,0,0,0.1);
}

body.theme-light .pages .sub-pages .section .main-container .content-group .title
{
	color:#444;
	background-color:#f0f0f0;
}

body.theme-light .mfp-wrap.popup-box-inline .popup-box .content-area
{
	color:#444;
	background-color:#fff;
}

body.theme-light header
{
	background-color:#eee;
	border-right:1px solid #dadada;
}

body.theme-light header .logo-area:after
{
	background-color:#ccc;
}

body.theme-light #resume .main-container .content-group .coding-skills-container ul li .progress,body.theme-light #resume .main-container .content-group .personal-skills-container ul li .progress
{
	background-color:#f0f0f0;
}

body.theme-light .loading-container
{
	background-color:#fff;
}

body.theme-light .loading-container .bounce-container .bounce1,body.theme-light .loading-container .bounce-container .bounce2
{
	background-color:#777;
}

body.theme-dark.left-side-menu-expand header .logo-area a span,body.theme-dark.left-side-menu-expand header .links-area a span
{
	background-color:transparent;
	color:#878D99;
}

body.theme-dark #about .main-container .content-group .fun-facts-container .card
{
	background-color:#191f29;
}

body.theme-dark #contacts .main-container .content-group .contact-form-container .form-group .form-control
{
	background-color:#1a1f29;
	border-color:#3b424e;
}

body.theme-dark #contacts .main-container .content-group .contact-form-container .button-area .btn-submit
{
	border:1px solid #eee;
	color:#eee;
	background-color:transparent;
}

body.theme-dark .pages .sub-pages .section
{
	background-color:#252d3a;
	-webkit-box-shadow:0 1px 36px rgba(0,0,0,0.15);
	-moz-box-shadow:0 1px 36px rgba(0,0,0,0.15);
	-ms-box-shadow:0 1px 36px rgba(0,0,0,0.15);
	box-shadow:0 1px 36px rgba(0,0,0,0.15);
}

body.theme-dark .pages .sub-pages .section .main-container .main-title
{
	color:rgba(0,0,0,0.25);
}

body.theme-dark .pages .sub-pages .section .main-container .content-group .title
{
	color:#878D99;
	background-color:#3b424e;
}

body.theme-dark .mfp-wrap.popup-box-inline .popup-box .content-area
{
	color:#ddd;
	background-color:#252d3a;
}

body.theme-dark .mfp-wrap.popup-box-inline .popup-box .content-area .category
{
	color:#888;
}

body.theme-dark header
{
	background-color:#1c222b;
	border-right:1px solid #3b424e;
}

body.theme-dark #portfolio .filter .f_btn label
{
	color:#d0d0d0;
}

body.theme-dark #resume .main-container .content-group .education-container .card-body,body.theme-dark #resume .main-container .content-group .experience-container .card-body
{
	color:#71757b;
}

body.theme-dark .loading-container
{
	background-color:#252d3a;
}

body.theme-dark .loading-container .bounce-container .bounce1,body.theme-dark .loading-container .bounce-container .bounce2
{
	background-color:#eee;
}

body.theme-light .card,body.theme-dark .card
{
	background-color:transparent;
}

body.theme-light #home:after,body.theme-dark #home:after
{
	background:rgba(0,0,0,0.6);
}

body.theme-light #home .center .vertical-middle .title,body.theme-light #home .center .vertical-middle .subtitle,body.theme-dark #home .center .vertical-middle .title,body.theme-dark #home .center .vertical-middle .subtitle
{
	color:rgba(255,255,255,0.85);
}

body.theme-light #about .main-container .button-groups ul li span,body.theme-light #about .main-container .content-group .pricing-container .card .card-body ul li,body.theme-light #blog .main-container .card .card-footer .category,body.theme-light #contacts .main-container .content-group .get-in-touch-container ul li a,body.theme-light #contacts .main-container .content-group .get-in-touch-container ul li span,body.theme-light header .expand-area .expand-collapse .la,body.theme-light header .logo-area a i,body.theme-light header .links-area a i,body.theme-light header .expand-area a i,body.theme-light #portfolio .main-container .grid-items .card .card-footer .category,body.theme-light #resume .main-container .content-group .education-container .card-footer,body.theme-light #resume .main-container .content-group .experience-container .card-footer,body.theme-light #resume .main-container .content-group .coding-skills-container ul li .label,body.theme-light #resume .main-container .content-group .personal-skills-container ul li .label
{
	color:#444;
}

body.theme-light #about .main-container .button-groups ul li a,body.theme-light #about .main-container .content-group .pricing-container .card .card-footer a,body.theme-light .mfp-wrap.popup-box-inline .popup-box .btn-area a
{
	border:1px solid #e5e5e5;
	color:#444;
}

body.theme-light #about .main-container .button-groups ul li a:hover,body.theme-light #about .main-container .content-group .pricing-container .card .card-footer a:hover,body.theme-dark #about .main-container .button-groups ul li a:hover,body.theme-dark #about .main-container .content-group .pricing-container .card .card-footer a:hover
{
	color:#fff;
	border-color:transparent;
}

body.theme-light #about .main-container .button-groups ul li a:hover span,body.theme-light #about .main-container .button-groups ul li a:hover .la,body.theme-light #blog .main-container .card .card-body .image-area span .la,body.theme-light #contacts .main-container .content-group .contact-form-container .button-area .btn-submit:hover,body.theme-light .mfp-wrap.popup-box-inline .mfp-close,body.theme-light .mfp-wrap.popup-box-inline .popup-box .btn-area a:hover,body.theme-light header .logo-area a,body.theme-light #portfolio .main-container .grid-items .card .card-body .image-area span .la,body.theme-dark #about .main-container .button-groups ul li a:hover span,body.theme-dark #about .main-container .button-groups ul li a:hover .la,body.theme-dark #about .main-container .clients-container a:hover,body.theme-dark #blog .main-container .card .card-body .image-area span .la,body.theme-dark #contacts .main-container .content-group .contact-form-container .button-area .btn-submit:hover,body.theme-dark .mfp-wrap.popup-box-inline .mfp-close,body.theme-dark .mfp-wrap.popup-box-inline .popup-box .btn-area a:hover,body.theme-dark #portfolio .main-container .grid-items .card .card-body .image-area span .la
{
	color:#fff;
}

body.theme-light #about .main-container .content-group .service-container .card .card-body .name,body.theme-light #about .main-container .content-group .testimonials-container .card .card-footer .name,body.theme-light #resume .main-container .content-group .education-container .card-header,body.theme-light #resume .main-container .content-group .experience-container .card-header
{
	color:#212529;
}

body.theme-light #about .main-container .content-group .service-container .card .card-body .description,body.theme-light #about .main-container .content-group .pricing-container .card .card-header .title,body.theme-light #about .main-container .content-group .pricing-container .card .card-header .amount .currency,body.theme-light #about .main-container .content-group .pricing-container .card .card-header .amount .number,body.theme-light #about .main-container .content-group .pricing-container .card .card-header .amount .timing,body.theme-light #about .main-container .content-group .fun-facts-container .card .card-body .text,body.theme-light #about .main-container .content-group .testimonials-container .card .card-body p,body.theme-light #about .main-container .content-group .testimonials-container .card .card-footer .title,body.theme-light .pages .sub-pages .section .main-container .main-desc,body.theme-light .mfp-wrap.popup-box-inline .popup-box .content-area .category,body.theme-light #portfolio .filter .f_btn label
{
	color:#666;
}

body.theme-light #about .main-container .content-group .pricing-container .card .card-body ul li.disable,body.theme-dark #about .main-container .clients-container a
{
	color:#ccc;
}

body.theme-light #about .main-container .content-group .testimonials-container .owl-dots .owl-dot,body.theme-light #blog .main-container .card .card-footer,body.theme-light header .links-area ul li a:hover,body.theme-light header .links-area ul li.active a,body.theme-light header .expand-area .expand-collapse:hover,body.theme-light #portfolio .main-container .grid-items .card .card-footer,body.theme-dark #about .main-container .content-group .testimonials-container .owl-dots .owl-dot
{
	background-color:#d0d0d0;
}

body.theme-light #blog .main-container .card .card-body .image-area .date,body.theme-dark #blog .main-container .card .card-body .image-area .date
{
	background-color:#eee;
	color:#444;
}

body.theme-light #blog .main-container .card .card-footer a,body.theme-light #portfolio .main-container .grid-items .card .card-footer a
{
	color:#333;
}

body.theme-light #contacts .main-container .content-group .contact-form-container .form-group i,body.theme-dark #contacts .main-container .content-group .contact-form-container .form-group i
{
	color:#aaa;
}

body.theme-light header .links-area ul li a,body.theme-dark header .links-area ul li a
{
	color:#fff;
	border-left:3px solid transparent;
}

body.theme-light header .links-area ul li a span,body.theme-light header .logo-area a span,body.theme-light header .links-area a span,body.theme-light header .expand-area a span,body.theme-dark header .links-area ul li a span,body.theme-dark header .logo-area a span,body.theme-dark header .links-area a span,body.theme-dark header .expand-area a span
{
	background-color:#222;
	color:#878D99;
}

body.theme-light #resume .main-container .content-group .education-container .card-body,body.theme-light #resume .main-container .content-group .experience-container .card-body,body.theme-dark #about .main-container .content-group .pricing-container .card .card-body ul li.disable
{
	color:#777;
}

body.theme-dark #about .main-container .button-groups ul li span,body.theme-dark #about .main-container .content-group .service-container .card .card-body .name,body.theme-dark #about .main-container .content-group .pricing-container .card .card-header .amount .currency,body.theme-dark #about .main-container .content-group .pricing-container .card .card-header .amount .number,body.theme-dark #about .main-container .content-group .pricing-container .card .card-header .amount .timing,body.theme-dark #about .main-container .content-group .pricing-container .card .card-body ul li,body.theme-dark #about .main-container .content-group .testimonials-container .card .card-footer .name,body.theme-dark #contacts .main-container .content-group .get-in-touch-container ul li a,body.theme-dark #contacts .main-container .content-group .get-in-touch-container ul li span,body.theme-dark header .logo-area a,body.theme-dark #resume .main-container .content-group .education-container .card-header,body.theme-dark #resume .main-container .content-group .experience-container .card-header,body.theme-dark #resume .main-container .content-group .coding-skills-container ul li .label,body.theme-dark #resume .main-container .content-group .personal-skills-container ul li .label
{
	color:#eee;
}

body.theme-dark #about .main-container .button-groups ul li a,body.theme-dark #about .main-container .content-group .pricing-container .card .card-footer a,body.theme-dark .mfp-wrap.popup-box-inline .popup-box .btn-area a
{
	border:1px solid #eee;
	color:#eee;
}

body.theme-dark #about .main-container .content-group .service-container .card .card-body .description,body.theme-dark #about .main-container .content-group .pricing-container .card .card-header .title,body.theme-dark #about .main-container .content-group .testimonials-container .card .card-body p,body.theme-dark #about .main-container .content-group .testimonials-container .card .card-footer .title,body.theme-dark #resume .main-container .content-group .education-container .card-footer,body.theme-dark #resume .main-container .content-group .experience-container .card-footer
{
	color:#828890;
}

body.theme-dark #about .main-container .content-group .fun-facts-container .card .card-body .text,body.theme-dark #blog .main-container .card .card-footer a,body.theme-dark .pages .sub-pages .section .main-container .main-desc,body.theme-dark #portfolio .main-container .grid-items .card .card-footer a
{
	color:#ddd;
}

body.theme-dark #blog .main-container .card .card-footer,body.theme-dark #portfolio .main-container .grid-items .card .card-footer
{
	background-color:#1a1f29;
}

body.theme-dark #blog .main-container .card .card-footer .category,body.theme-dark #portfolio .main-container .grid-items .card .card-footer .category
{
	color:#999;
}

body.theme-dark header .logo-area:after,body.theme-dark header .links-area ul li a:hover,body.theme-dark header .links-area ul li.active a,body.theme-dark header .expand-area .expand-collapse:hover,body.theme-dark #resume .main-container .content-group .coding-skills-container ul li .progress,body.theme-dark #resume .main-container .content-group .personal-skills-container ul li .progress
{
	background-color:#3b424e;
}

body.theme-dark header .expand-area .expand-collapse .la,body.theme-dark header .logo-area a i,body.theme-dark header .links-area a i,body.theme-dark header .expand-area a i
{
	color:#878D99;
}

@media max-width 1023px {
	body.theme-light header
	{
		background-color:#eee;
	}
	
	body.theme-light header .logo-area span
	{
		background-color:transparent!important;
		color:#666!important;
	}
	
	body.theme-dark header
	{
		background-color:#1c222b;
	}
	
	body.theme-dark header .logo-area span
	{
		background-color:transparent!important;
		color:#878D99!important;
	}
	
	body.theme-light header .btn-menu-toggle,body.theme-light header .links-area
	{
		background-color:#d0d0d0;
	}
	
	body.theme-light header .btn-menu-toggle .line,body.theme-light header .btn-menu-toggle .line:after,body.theme-light header .btn-menu-toggle .line:before
	{
		background:#777;
	}
	
	body.theme-light header.open .btn-menu-toggle .line,body.theme-dark header.open .btn-menu-toggle .line
	{
		background:transparent;
	}
	
	body.theme-light header .links-area ul li a,body.theme-light header .links-area ul li.active a,body.theme-dark header .links-area ul li a,body.theme-dark header .links-area ul li.active a
	{
		border-left:none;
	}
	
	body.theme-dark header .btn-menu-toggle,body.theme-dark header .links-area
	{
		background-color:#3b424e;
	}
	
	body.theme-dark header .btn-menu-toggle .line,body.theme-dark header .btn-menu-toggle .line:after,body.theme-dark header .btn-menu-toggle .line:before
	{
		background:#eee;
	}
}